form{
    width: 500px;
    margin: auto;
}

.forms{
    display: flex;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 10px -3px black;
    padding: 50px;
}

.btn-cont{
    text-align: center;
}

.danger{
    background-color: rgba(255, 0, 0, 0.373);
    text-align: center;
    padding: 7px;
    margin-top: 10px;
}