<div class="forms">
  <form #login="ngForm" (ngSubmit)="submit(login)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
      #email="ngModel"
      required
      name="email"
      minlength="5"
      ngModel
        type="email"
        class="form-control"
        id="exampleInputEmail1"
      />
      <div *ngIf=" email.touched && email.errors?.['required']" id="error" class="danger">Email is required</div>
      <div *ngIf="email.errors?.['minlength']" id="error" class="danger">Email should be more than 5 characters</div>
    </div>
    <div class="mb-3">
      <label
       for="exampleInputPassword1" class="form-label">Password</label>
      <input 
      #password="ngModel"
      required
      name="password"
      ngModel
      type="password" class="form-control" id="exampleInputPassword1" />
      <div *ngIf="password.touched && password.errors?.['required']" id="error" class="danger">Password is required</div>

    </div>
    <div class="mb-3 form-check">
      <input
      name="password"
      type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <div class="btn-cont">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
